# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.dll

dist/
build/
*.egg-info/
.eggs/

.env
.venv
env/
venv/
venv_old/ 
bin/
include/
lib/
lib64/


.pytest_cache/
.coverage
htmlcov/
.tox/


.vscode/ 
.idea/ 
*.sublime-project
*.sublime-workspace


.DS_Store 
Thumbs.db 


*.log
*.sqlite3
db.sqlite3


.ipynb_checkpoints/


tmp/
*.swp
*.bak
*.swo

