HELP.md

target/
build/
out/


target/jlink/
target/image/
target/jre/
build/image/
build/jpackage/

logs/
log/
*.log
spring.log
gc.log
gc*.log*
hs_err_pid*
replay_pid*
*.hprof
*.jfr
*.stackdump

*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


.gradle/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Desktop.ini

*~
*.swp
*.swo

*.tmp
*.temp
.tmp/
.cache/


.env
.env.*
!.env.example

application-local.properties
application-local.yml
application-*.secret.properties
application-*.secret.yml

*.keystore
*.jks
*.p12
*.pem
*.key
*.crt
*.csr
*.der


*.db
*.h2.db
*.mv.db
*.sqlite
*.sqlite3
*.derby
data/

target/surefire-reports/
target/failsafe-reports/

build/reports/
build/test-results/
build/jacoco/
jacoco.exec
jacoco/
coverage/
.coverage


pit-reports/


.sdkman/
.asdf/
.java-version
.tool-versions
.direnv/
.envrc


.docker/

docker-compose.override.yml


node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*